block header
header
    div(class='row expanded')
        div(class='small-1 columns logo-wrapper')
            a(class='logo' href=('#'))
                img(src=require("../..//images/logo-buzz.svg") alt='logo')
        div(class='columns nav-menu-wrapper')
            nav(class='menu')
                li
                    a(href='#')
                        span News
                        |  Map
                li
                    a(href='#') local news
                li
                    a(href='#') world news
                li
                    a(href='#') politics news
                li
                    a(href='#') sports news
                li
                    a(href='#') breaking news
                li
                    a(href='#') more

        div(class='small-2 columns header-menu-icon')
            ul(class='menu simple')
                li(class='message')
                    span(class="notifications-value") 3
                    img(src=require("../..//images/notifications.svg") alt='logo')
                li(class='user-icon')
                    img(src=require("../..//images/user-icon.jpg") alt='user-icon')
                li(class='search')
                    img(src=require("../..//images/Search icon.svg") alt='logo')
        div(class='small-1 columns add-news-wrapper')
            a(href='#' class='add-news') Add news